pandas==0.25.3
streamlit
google-cloud-storage
google-cloud-pubsub
jwt
pyrebase
numpy==1.18.1
speechbrain
torch==1.8.1+cpu 
torchvision==0.9.1+cpu
-f https://download.pytorch.org/whl/torch_stable.html
